<div id="pagination-container" {% if is_oob %}hx-swap-oob="true"{% endif %} class="flex flex-col sm:flex-row items-center justify-between border-t border-base-200 bg-base-100 p-4 gap-4">
    <!-- Details -->
    <div>
        <p class="text-sm text-base-content/75">
            Showing <span class="font-semibold text-base-content">{{ page_obj.start_index|default:"0" }}</span> 
            to <span class="font-semibold text-base-content">{{ page_obj.end_index|default:"0" }}</span> 
            of <span class="font-semibold text-base-content">{{ paginator.count|default:"0" }}</span> results
        </p>
    </div>
    
    <!-- Join buttons -->
    <div class="join">
        {% if page_obj.has_previous %}
        <button hx-get="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" hx-target="#datatable-body" hx-swap="innerHTML" class="join-item btn btn-sm btn-outline">
            «
        </button>
        {% endif %}
        
        {% load core_tags %}
        {% get_elided_page_range paginator page_obj.number on_each_side=1 on_ends=1 as page_range %}
        {% for num in page_range %}
            {% if num == paginator.ELLIPSIS %}
                <button class="join-item btn btn-sm btn-disabled">...</button>
            {% elif num == page_obj.number %}
                <button class="join-item btn btn-sm btn-active btn-primary text-white">{{ num }}</button>
            {% else %}
                <button hx-get="{{ request.path }}?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" hx-target="#datatable-body" hx-swap="innerHTML" class="join-item btn btn-sm btn-outline">{{ num }}</button>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <button hx-get="{{ request.path }}?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" hx-target="#datatable-body" hx-swap="innerHTML" class="join-item btn btn-sm btn-outline">
            »
        </button>
        {% endif %}
    </div>
</div>
