{% extends 'core/base.html' %}
{% block sidebar %}{% endblock %} 
{% block header %}{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-50 dark:bg-gray-900 flex flex-col justify-center py-12 sm:px-6 lg:px-8 absolute inset-0 z-50">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white">
            Password Recovery
        </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="card bg-base-100 dark:bg-gray-800 shadow-xl border border-gray-200 dark:border-gray-700 p-8 sm:px-10" id="password-recovery-container">
            <div id="auth-error-container" class="mb-4"></div>
            
            <form hx-post="{% url 'core:forgot_password' %}" hx-target="#password-recovery-container" hx-swap="innerHTML" class="form-control">
                {% csrf_token %}
                <div>
                    <label class="label">
                        <span class="label-text font-medium text-gray-700 dark:text-gray-300">Enter your Username</span>
                    </label>
                    <input name="username" type="text" required class="input input-bordered w-full dark:bg-gray-700 dark:text-white">
                </div>

                <div class="mt-6">
                    <button type="submit" class="btn btn-primary w-full text-white">
                        Find Account
                    </button>
                </div>
            </form>
            <div class="mt-4 text-center text-sm">
                <a href="{% url 'core:login' %}" class="link link-primary no-underline hover:underline">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
